# Dependencies
node_modules/

# Next.js
.next/
out/
dist/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Cache folders
.cache/
**/.cache/

# Selenium / chromedriver
chromedriver.exe

# Gradle
.gradle/

# General temp
*.log

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build
bin/
build/
dist/

# Test binaries
*.test

# Coverage
coverage.out

# SQLite (se for só local)
*.db
*.db-shm
*.db-wal

